{%include 'header.html'%}
<div class="main-content" style="margin:15%;text-align:center;">
    <h1  class="site-header__title" data-lead-id="site-header-title" >THANK YOU!</h1>
    <h1 style="padding-bottom:50px;">✔️</h1>



		<i class="fa fa-check main-content__checkmark" id="checkmark"></i>
		<b class="main-content__body" data-lead-id="main-content-body">Thanks a bunch for filling that out. It means a lot to us, just like you do! We really appreciate you giving us a moment of your time today. Thanks for being you.</b>
	</div>
{%include 'footer.html'%}